
/*----- 
 STYLE
-----*/

/* DECODER style */

body {
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

canvas {
    max-width: 100%;
}

img {
    max-width: 100%;
}

#MicInputPanel {
  padding: 10px;
  font-family: sans-serif;
  font-size: 12px;
}

#SetInfoPanel {
  padding: 10px;
  font-family: sans-serif;
  font-size: 12px;
}


#OutputPanel {
  font-family: sans-serif;
  font-size: 16px;
}

#OutputPanel .panel {
    border: 1px solid #0d6efd;
    border-radius: 0.375rem;
    background-color: rgb(247, 252, 253);
}

#history-wrap {
  min-height: 60px;
  max-height: 60px;
  overflow: scroll;
  margin-bottom: 1em;
}

#historyMsg {
  font-family: sans-serif fixed;
  font-size: 11px;
  min-height: 5em;
  padding-bottom: 0em;
}

#say {
  margin: 0.2em;
  border: 1px solid #ddd;
}

#fileReceiverMsg {
  font-family: sans-serif fixed;
  font-size: 11px;
  font-size: 12px;
  padding: 0.1em;
  background: #eee;
  width: 100%;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 8px;
  visibility: hidden;
}

.hidden {
    display: none;
}

div.sym-table-wrapper {
    max-width: 100%;
    overflow: auto;
}

.center {
    text-align: center;
}

.design-color-dashboard {
    color: rgb(34, 39, 125); /* dark bleu */
}

.design-color-asym-cipher {
    color: rgb(39, 154, 219); /* light bleu */
}

.design-color-signature {
    color: rgb(41, 173, 96); /* green */
}

.design-color-sym-cipher {
    color: rgb(159, 214, 11); /* ligth green */
}

.design-color-otp {
    color: rgb(249, 161, 52); /* orange */
}

.design-color-tools {
    color: rgb(229, 0, 27); /* red */
}

.downloadIllustration {
    text-decoration: none;
}
.downloadIllustration :hover {
    text-decoration: underline;
}

/* SCROLL UP & TAB PANE CLOSER
-------------------------------- */

#tab-pane-closer {
    display: block;
    position: fixed;
    right: 0px;
    bottom: 135px;
    margin-right: 20px;

    width: 30px;
    height: 30px;

    font-size: 15px;
    line-height: 30px;
    text-align: center;

    background-color: rgb(188, 188, 188);  /* grey */
    z-index: 120;

    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}
#tab-pane-closer:hover,
#tab-pane-closer:active,
#tab-pane-closer:focus {
    background-color: #0d6efd; /* blue */
    cursor: pointer;
}

#tab-pane-closer i {
    color: white;
}

.scrollup {
    display: none;
    position: fixed;
    right: 0px;
    bottom: 90px;
    margin-right: 20px;

    width: 30px;
    height: 30px;

    font-size: 15px;
    line-height: 30px;
    text-align: center;

    background-color: rgb(188, 188, 188);  /* grey */
    z-index: 120;

    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}
.scrollup:hover,
.scrollup:active,
.scrollup:focus {
    background-color: #0d6efd; /* blue */
    cursor: pointer;
}

.scrollup i {
    color: white;
}


/* SYM TABLE CONVERT BINARY TO HEX
-------------------------------- */
table.sym-hex-binary {
    display: table;
    border-collapse: collapse;
    /* border: 0.1rem solid #cad1d8; */
    /* border-spacing: 2px; */
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-color: #cad1d8;
}

table.sym-hex-binary thead {
    background: #cad1d8;
}

table.sym-hex-binary thead th {
    background: #cad1d8;
    padding: 0.3rem;
    text-align: center;
}

table.sym-hex-binary tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
table.sym-hex-binary tbody tr:nth-child(odd) {
    background: #fafafa;
}

table.sym-hex-binary tbody tr {
    background: #e5e8eb;
}

table.sym-hex-binary tbody td {
    border: 0.1rem solid #cad1d8;
    padding: 0.3rem;
    text-align: center;
}


.code__table {
    margin-top: 15px;
    max-width: 100%;
}

.insertedImage {
    margin-top: 15px;
    max-width: 100%;
    background-color: white;
}

.dashboard__menu a {
    text-decoration: none;
}
.dashboard__menu a:hover {
    text-decoration: underline;
}

.textInput { width: 50; }

canvas { position: relative; }


.reveal-modal-bg {
    bottom: 0;
    right: 0;
    background: #000;
    background: rgba(0,0,0,.45);
    z-index: 17
}

.reveal-modal,.reveal-modal-bg,dialog {
    position: absolute;
    top: 0;
    display: none;
    left: 0
}

.reveal-modal,dialog {
    visibility: hidden;
    z-index: 18;
    width: 100vw;
    border-radius: 3px;
    background-color: #fff;
    padding: 1.25rem;
    border: 1px solid #666;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    padding: 1.875rem
}

.reveal-modal .column,.reveal-modal .columns,dialog .column,dialog .columns {
    min-width: 0
}

.reveal-modal>:first-child,dialog>:first-child {
    margin-top: 0
}

.reveal-modal>:last-child,dialog>:last-child {
    margin-bottom: 0
}

.reveal-modal.radius,dialog.radius {
    border-radius: 3px
}

.reveal-modal.round,dialog.round {
    border-radius: 1000px
}

.reveal-modal.collapse,dialog.collapse {
    padding: 0
}

.reveal-modal.full,dialog.full {
    top: 0;
    left: 0;
    height: 100%;
    height: 100vh;
    min-height: 100vh;
    max-width: none!important;
    margin-left: 0!important
}

.reveal-modal .close-reveal-modal,dialog .close-reveal-modal {
    font-size: 2.5rem;
    line-height: 1;
    position: absolute;
    top: .625rem;
    right: 1.375rem;
    color: #aaa;
    font-weight: 700;
    cursor: pointer
}


/* GLOBAL STYLE */

mark {
    background-color: #e6f1fb;
    color: rgb(11, 110, 253);
}

/* to enable lg selector to be on the same line on iphont 4 for example (0.47 instead of 0.5..) */
.nav {
    --bs-nav-link-padding-x: 0.47rem;
    --bs-nav-link-padding-y: 0.47rem;
}

#navbar-top {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

ul.dashboard__menu {
    list-style: none;
}

#qrcodeWrapper img {
    max-width: 100%;
}

.dashboard__bi {
    color: #0d6efd;
}

.block-first {
    padding-top: 120px;
}

.h2,
.h3,
.h4 {
    margin-top: 30px;
}

.mgt-5 {
    margin-top: 5px;
}

.btn__nav {
    margin-bottom: 5px;
}

.btn__qrc--receiver {
    margin: 5px;
}

.mg5 {
    margin: 5px;
}

#waveform {
    background-color: #f4f3f4;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo {
    display: block;
    margin: auto;
    width: 25%;
}

.qrcode__img {
    outline: gray;
    padding: 30px;
}

.qrcode__pad {
    padding: 12px;
    max-width: 100%;
}

.btn__copy {
    margin-top: 5px;
}

#morseTxTab canvas {
    background-color: rgb(234, 236, 239);
}

.containerOsci {
    overflow-x: scroll;
}

.containerOsci canvas {
    border: 1px solid #0d6efd;
    border-radius: 0.375rem;
}

.btn-warning,
.btn-danger {
    text-transform: uppercase;
}

/*------------- 
 Mouse entropy 
--------------*/
#randogram {
    cursor: wait;
    touch-action: none;
    overflow: hidden;
}

.entropyPool {
    margin: 0 auto;
    width: 512px;
    pointer-events: auto;
}

#containerSalt {
    overflow-x: scroll;
}

.containerSpectrogram {
    overflow-x: scroll;
    border: 1px solid #0d6efd;
    border-radius: 0.375rem;
    margin-bottom: 10px;
    background-color: rgb(247, 252, 253);
}

#progress {
    background: #dddddd;
    width: 512px;
}

#progressBar {
    background: #0088FF;
    color: #ffffff;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    max-width: 512px;
    text-align: center;
    width: 0%;
}

@media only screen and (max-width: 40em) {
    .reveal-modal,dialog {
        min-height:100vh
    }
}

@media only screen and (min-width: 40.063em) {
    .reveal-modal.xlarge,dialog.xlarge {
        width:95%;
        max-width: 62.5rem;
        left: 0;
        right: 0;
        margin: 0 auto
    }
}

@media only screen and (max-width: 768px) {
    #nav-dashboard,
    #nav-asymCipher,
    #nav-signature,
    #nav-symCipher,
    #nav-otpCipher,
    #nav-tools {
        display: none;
    }
    .container-lg {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 1024px) {
    .navbar-brand {
        display: none;
    }
    .logo {
        width: 50%;
    }
    .block-first {
        padding-top: 160px;
    }
}